<div class="container-xl">
  <div class="table-responsive">
    <div class="table-wrapper">
      <div class="table-title">
        <div class="row">
          <div class="col-sm-6">
            <h4><b>New Event Template: Category {{category}}</b></h4>
          </div>
        </div>
        <div class="col-sm-6">
          <a href="#" routerLink="/event-template/{{category}}" class="btn btn-success back"><i class='fas fa-arrow-circle-left'></i>
            Back</a>
        </div>
      </div>
      <form #eventTemplateForm="ngForm">
        <div class="table-content">
          <div class="form-group p-10 row">
            <div class="col-sm-3">
              <label for="Order" class="p-t-b-10">Order</label>
            </div>
            <div class="col-sm-9">
              <input type="number" class="form-control" id="order" required
                     [(ngModel)]="addEventTemplateForm.order" name="Order">
            </div>
          </div>
          <div class="form-group p-10 row">
            <div class="col-sm-3">
              <label for="Name" class="p-t-b-10">Name<span class="requiredStar">*</span></label>
            </div>
            <div class="col-sm-9">
              <input type="text" class="form-control" id="Name" required maxlength="255"
                     [(ngModel)]="addEventTemplateForm.name" name="FirstName" #name="ngModel">
              <div *ngIf="name.errors && isSubmitted" class="alert alert-danger validationError">
                <div [hidden]="!name.errors?.['required']">
                  Name is required
                </div>
              </div>
            </div>
          </div>
          <div class="form-group p-10 row">
            <div class="col-sm-3">
              <label for="Weight" class="p-t-b-10">Weight<span class="requiredStar">*</span></label>
            </div>
            <div class="col-sm-9">
              <input type="number" class="form-control" id="weight" required
                     [(ngModel)]="addEventTemplateForm.weight" name="Weight" #weight="ngModel">
              <div *ngIf="weight.errors && isSubmitted" class="alert alert-danger validationError">
                <div [hidden]="!weight.errors?.['required']">
                  Weight is required
                </div>
              </div>
            </div>
          </div>
          <div class="form-group p-10 row">
            <div class="col-sm-3">
              <label for="Duration" class="p-t-b-10">Duration<span class="requiredStar">*</span></label>
            </div>
            <div class="col-sm-9">
              <input type="number" class="form-control" id="Duration" required
                     [(ngModel)]="addEventTemplateForm.duration" name="Duration" #duration="ngModel">
              <div *ngIf="duration.errors && isSubmitted" class="alert alert-danger validationError">
                <div [hidden]="!duration.errors?.['required']">
                  Duration is required
                </div>
              </div>
            </div>
          </div>
          <div class="form-group p-10 row">
            <div class="col-sm-3">
              <label for="Categories" class="p-t-b-10">Categories<span class="requiredStar">*</span></label>
            </div>
            <div class="col-sm-9">
              <app-categories-list [(ngModel)]="addEventTemplateForm.categories" name="Categories"  id="Categories"></app-categories-list>
            </div>
          </div>
          <div class="form-group p-10 row">
            <div class="col-sm-3">
              <label class="p-t-b-10">Post Processing</label>
            </div>
            <div class="col-sm-9">
              <input type="text" class="form-control" id="PostProcessing"
                     [(ngModel)]="addEventTemplateForm.postprocess" name="postProcessing" #postProcessing="ngModel">
            </div>
          </div>
        </div>
        <div class="table-footer">
          <button class="btn btn-success" (click)="AddEventTemplate(eventTemplateForm.form.valid)">Submit</button>
        </div>
      </form>
    </div>
  </div>
</div>
