<div
  class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom"
>
  <h2 class="h2">EventTemplates List</h2>
  <a
    routerLink="/register-eventTemplate"
    class="btn btn-success"
    *ngIf="hideWhenNoEventTemplate"
  >
    Add EventTemplate
  </a>
</div>
<div class="pricing-header mx-auto">
  <div class="no-data text-center" *ngIf="preLoader">
    <img src="assets/preloader.gif" class="preloader-icon" alt="No eventTemplate" />
  </div>
  <div class="no-data text-center" *ngIf="noData">
    <img src="assets/no-eventTemplate.svg" class="nodata-msg" alt="No eventTemplate" />
    <p class="nodata-msg">No eventTemplate added yet!</p>
    <a routerLink="/register-eventTemplate" class="btn btn-success"> Add EventTemplate </a>
  </div>
  <div class="table-responsive" *ngIf="hideWhenNoEventTemplate">
    <table
      class="table table-bordered table-responsive-sm table-responsive-md table-responsive-lg"
    >
      <thead>
      <tr>
        <th scope="col">Name</th>
        <th scope="col">Weight</th>
        <th scope="col">Duration</th>
        <th scope="col">Categories</th>
        <th scope="col">PostProcessing</th>
        <th class="text-center" scope="col">Edit</th>
      </tr>
      </thead>
      <tbody>
      <tr
        *ngFor="
            let eventTemplate of eventTemplates
              | paginate: { itemsPerPage: 8, currentPage: p };
            let i = index
          "
      >
        <th scope="row">{{ eventTemplate.$key }}</th>
        <td>{{ eventTemplate.name }}</td>
        <td>{{ eventTemplate.weight }}</td>
        <td>{{ eventTemplate.duration }}</td>
        <td>{{ eventTemplate.categories }}</td>
        <td>{{ eventTemplate.postProcessing }}</td>
        <td class="text-center action-block">
            <span
              class="mr-2 btn btn-outline-primary btn-sm"
              routerLink="/edit-eventTemplate/{{ eventTemplate.$key }}"
            >Edit</span
            >
          <span
            class="btn btn-outline-danger btn-sm"
            (click)="deleteEventTemplate(eventTemplate)"
          >Delete</span
          >
        </td>
      </tr>
      </tbody>
    </table>
  </div>
  <pagination-controls (pageChange)="p = $event"></pagination-controls>
</div>
