<mat-toolbar color="primary" *ngIf="isLoggedIn$ | async">
  <span>
  </span>
  <span class="fill-remaining-space"></span>

  <button mat-button routerLink="/dashboard">Dashboard</button>
  <button mat-button routerLink="/days">Days</button>
  <button mat-button routerLink="/event-template">Event Templates</button>
  <button mat-button routerLink="/event-template">Lists</button>
  <button mat-button routerLink="login">Login</button>
  <button mat-button (click)="onLogout()">Logout</button>
</mat-toolbar>
