<div class="container-xl">
  <div>
    <div class="table-wrapper">
      <div class="table-title">
        <div class="row">
          <div class="col-sm-6">
            <h4><b>Manage Days</b></h4>
          </div>
          <div class="col-sm-6">
            <div class="btn-toolbar">
                <button class="btn btn-success me-3" (click)="addDays()">
                  <i class='fas fa-plus-circle'></i><span> Add Days</span>
                </button>
            </div>
          </div>
        </div>
        <ul>
        </ul>
  </div>
      <div class="container">
        <div  class="row">
            <div class="list-group">
              <div class="list-group-item clearfix" *ngFor="let day of days  | slice:0:21;" [ngStyle]="{ 'background-color': stateColors[day.state] }">
                <span class="mr-5">{{day.day.toDate() | date:' EEEE dd.MM' }}</span>
                <a class="btn btn-link btn-rounded btn-sm" role="button" [routerLink]="'/days/' + day.id + '/events'">Events</a>
                <a class="btn btn-link btn-rounded btn-sm" role="button" (click)="generate(day)">Generate</a>
                <a class="btn btn-link btn-rounded btn-sm" role="button" (click)="show(day)">Show</a>
                <a class="btn btn-link btn-rounded btn-sm" role="button" (click)="delete(day)">Delete</a>
              </div>
            </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div
  class="modal"
  tabindex="-1"
  role="dialog"
  [ngStyle]="{'display':displayStyle}">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Day Plan</h4>
      </div>
      <div class="modal-body">
        <div  class="list-group-item clearfix" *ngFor="let event of events"  >
          {{event.startTime.toDate() | date:'shortTime' }} - {{event.endTime.toDate()| date:'shortTime' }} {{event.name}}
          </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger"
                (click)="closePopup()">
          Close
        </button>
      </div>
    </div>
  </div>
</div>
