<div class="container-xl">
  <div class="table-responsive">
    <div class="table-wrapper">
      <div class="table-title">
        <div class="row">
          <div class="col-sm-6">
            <h4><b>Manage EventTemplates</b></h4>
          </div>
          <div class="col-sm-6">
            <button class="btn btn-success" (click)="clickAddEventTemplate()">
              <i class='fas fa-plus-circle'></i><span> ADD</span>
            </button>
          </div>
          <div class="col-sm-6">
            <select [(ngModel)]="selectedCategory">
              <option value="" disabled selected>Select a category</option>
              <option *ngFor="let option of selectCategoryOptions" [value]="option">{{ option }}</option>
            </select>
          </div>
        </div>
      </div>
      <div class="table-responsive">
      <table class="table table-striped table-hover table-bordered table-content">
        <caption>Event Templates</caption>
        <thead>
        <tr class="center-align">
          <th class="col-sm-1">Order</th>
          <th class="col-sm-3">Name</th>
          <th class="col-sm-1">Weight</th>
          <th class="col-sm-1">Duration</th>
          <th class="col-sm-2">Categories</th>
          <th class="col-sm-3">PostProcessing</th>
          <th class="col-sm-1"></th>
          <th></th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let eventTemplate of (eventTemplateService.eventTemplateList | categoriesFilterPipe: selectedCategory | customSort)" class="center-align">
          <td class="col-sm-1">{{ eventTemplate.order }}</td>
          <td class="col-sm-3">{{ eventTemplate.name }}</td>
          <td class="col-sm-1">{{ eventTemplate.weight }}</td>
          <td class="col-sm-1">{{ eventTemplate.duration }}</td>
          <td class="col-sm-3">{{ eventTemplate.categories }}</td>
          <td class="col-sm-3">{{eventTemplate.postprocess }}</td>
          <td>
            <a href="#" [routerLink]="['/edit-event-template/', eventTemplate.id]" class="btn"><i class="fa fa-edit edit"></i></a>
            <button type="button" (click)="deleteEventTemplateConfirmation(eventTemplate)" class="btn"><i class='fas fa-trash-alt delete'></i></button>
          </td>
        </tr>
        <tr>
          <td *ngIf="eventTemplateList.length == 0" colspan="6">No EventTemplate Found</td>
        </tr>
        </tbody>
      </table>
      </div>
    </div>
  </div>
</div>
